# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env/
.venv/
env/
ENV/

# Mac & Linux system files
.DS_Store

# Python Pipenv files
Pipfile.lock
Pipfile
# Local VSCode settings
.vscode/

# Logs & temp files
*.log
*.sqlite3
*.db

# Local settings or secrets
settings.py
config.py